
* { margin: 0; padding: 0; }

/*body { font: 14px/1.4 Georgia, serif; }

#page-wrap { width: 75%; margin: 80px auto; }*/

h1 { font: bold 36px Sans-Serif; margin: 0 0 20px 0; }


    #note {
        position: absolute;
        z-index: 6001;
        top: -50px;
        left: 0;
        right: 0;
        /*background: #fde073;*/
        background: #3ad733;
        color: #ffffff;
        font: 14px/1.4 Georgia, serif;
        font-weight:bold;
        text-align: center;
        line-height: 2.5;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 0px black;
        -moz-box-shadow:    0 0 0px black;
        box-shadow:         0 0 0px black;
    }
    /*.cssanimations.csstransforms #note {
        -webkit-transform: translateY(-50px);
        -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
        -moz-transform:    translateY(-50px);
        -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
    }*/

#close {
    position: absolute;
    right: 10px;
    top: -9px;
    text-indent: -9999px;
    /*background: url(images/close.png);*/
    background: url(img/close.png);
    height: 16px;
    width: 16px;
    cursor: pointer;
}
    .cssanimations.csstransforms #close {
      display: none;
    }
    
    /*@-webkit-keyframes slideDown {
        0%, 100% { -webkit-transform: translateY(-50px); }
        10%, 90% { -webkit-transform: translateY(0px); }
    }
    @-moz-keyframes slideDown {
        0%, 100% { -moz-transform: translateY(-50px); }
        10%, 90% { -moz-transform: translateY(0px); }
    }*/
	